*{
    background-color: #F5F4F0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

div#container{
    width: 1120px;
    margin: 88px auto;
}

div#title{
    margin-bottom: 40px;
}

.subtitulo{
    color: #E1624f;
    font-size: 16px;
    font-weight: bold;
}

main{
    margin-bottom: 40px;
    margin-top: 40px;
}
h1{
    font-weight: bold;
    font-size: 36px;
    color: #1B1B1B;
}

p{
    font-size: 16px;
    color: #333333;
}

h2{
    color: #1B1B1B;
}

h3{
    margin-top: 10px;
    margin-left: 10px;
}

div#title2{
    margin-top: 64px;
    margin-bottom: 64px;
}

section#ponto-2{
    margin-top: 48px;
    margin-bottom: 48px;
}

#busan{
    text-align: center;
}

section#ponto-3{
    margin-bottom: 40px;
}

.beneficio{
    color: #1B1B1B;
    font-weight: bold;
    padding-top: 20px;
}

.historia{
    color: #0C51A7;
}

#beneficio1{
    color: #591B98;
}

#beneficio2{
    color: #E5245E;
}

#beneficio3{
    color: #E95E10;
}

#finalmain{
    text-align: center;
}

footer > p{
    text-align: center;
    margin-bottom: 35px;
}

footer img{
    vertical-align: middle;
}